body {
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.projectForm {
    padding: 40px;
    background-color: white;
    width: 100vw;
}
.formBackground {
    padding: 40px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 5%;
}

header {
 background-color:  #dc3545 ;
 padding: 0;
 margin: 0;
}
#navbarNav {
    display: flex;
    justify-content: space-between;
}
.headerGroupOne {
    display: flex;
    margin-left: 20px;
}

.headerGroupTwo {
  float: right;
  margin-right: 20px;
}

.fas, 
.far {
    color: black;
}


