body {
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

header {
 background-color:  #dc3545 ;
 padding: 0;
 margin: 0;
}
#navbarNav {
    display: flex;
    justify-content: space-between;
}
.headerGroupOne {
    display: flex;
    margin-left: 20px;
}

.headerGroupTwo {
  float: right;
  margin-right: 20px;
}

.fas, 
.far {
    color: black;
}

form {
    padding:20px;
}